ul.accordion {
	li {
		background: none;
		padding: 0;
		&:before {
			display: none;
		}
	}
}

a.accordion-title {
	border: 1px solid $light-gray;
	border-bottom: 0;
	color: $dark-gray;
	text-transform: uppercase; 
	font-size: .9rem;
	padding: 1.2rem 3rem 1.2rem 2rem;
	@include breakpoint(medium) {
		padding: 1.2rem;
	}
	&:before {
		display: block;
		background: url(../images/icon-up.svg) no-repeat;
		content: "";
		width: 20px;
		height: 15px;
	}
	&:focus,
	&:hover {
		background: transparent;
	}
}
.is-active>.accordion-title:before {
    content: "";
	background: url(../images/icon-down.svg) no-repeat;
}
.accordion-content {
	border-color: $light-gray;
	border-top: 0;
	border-bottom: 1px $light-gray;
	padding-top: 0;
	p, li {
		font-size: .9rem;
	}
}

#div-faq {
	ul.accordion {
		background: transparent;
	}
	ul.accordion > li {
		margin-bottom: 1rem;
		border: 1px solid #f2f2f2;
		padding-left: 30px;
		background: $white;
		position: relative;
		.icon {
			position: absolute;
			left: 1rem;
			top: 1rem;
			width: 22px;
			height: 22px;
			fill: $lfy-teal;
		}
		&.accordion-item.is-active {
			box-shadow: 0 4px 5px 2px rgba(0,0,0,.1);
		}
		a.accordion-title,
		.accordion-content {
			border: 0;
		}
		&:nth-child(3n+2) .icon {
			fill: $lfy-pink;
		}
		&:nth-child(3n+3) .icon {
			fill: $lfy-green;
		}
	}
	
}