body.post-type-archive-tribe_events {
    background: #f7f7f7;
    .tribe-events-page-title {
        display: none;
    }
}    
#event_organizer.tribe-events-community-details {
    display: none !important;
}
.tribe-events-venue .tribe-events-map-wrap {
    width: 100%;
    margin: 1rem 0;
    float: none;
}

#tribe-events-photo-events {
    height: auto !important;
}

.tribe_events_filter_item {
    background: $white;
    width: 30%;
}
#tribe-bar-form .tribe-bar-submit input[type=submit] {
    background: $lfy-green;
}
.content .tribe-events-sub-nav li:before {
    display: none;
    content: '';
}
.tribe_paged {
    @extend %button;
    &:hover,
    &:active {
        color: $white;
    }
}
#tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe-events-filters-group-heading {
    padding: 1rem;
    height: auto;
    border: 1px solid #ddd;
    font-size: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.tribe-events-filters-horizontal .tribe-events-filter-group {
    width: 100%;
    max-width: 100%;
    li:before {
        content: '';
        display: none;
    }
}

#tribe-events .tribe-events-photo-event-wrap,
.tribe-events-photo-event-wrap,
.venue-event-grid-item {
    background: #FFF;
    position: relative;
    .text-wrap {
        padding: 1rem 2rem;
        a {
            color: $dark-gray;
        }
        @include breakpoint(medium) {
            min-height: 270px;
        }
    }
    .tribe-events-list-event-title {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        font-weight: bold;
        margin: 1rem 0;
        a {
            color: $dark-gray;
        }
    }
    .tribe-events-list-photo-description p {
        font-size: .85rem;
        line-height: 1.4;
    }
    .tribe-events-event-meta {
        padding: 0 2rem;
        .icon {
            display: block;
            float: left;
            margin-right: .5rem;
        }
        .where .icon {
            fill: $lfy-pink;
        }
        .when .icon {
            fill: $lfy-green;
        }
        .cost .icon {
            fill: $lfy-teal;
        }
    }
    .meta-column {
        width: 32%;
        float: left;
        border-right: 1px solid #ddd;
        font-size: .8rem;
        text-transform: uppercase;
        padding: 0 .75rem;
        @include breakpoint(medium) {
            min-height: 100px;
        }
        div {
            overflow: hidden;
        }
        &.when { 
            width: 40%;
        }
        &.where {
            padding-left: 0;
            width: 33%;
        }
        &.cost {
            width: 27%;
        }
        &.cost,
        &:last-child {
            border-right: 0;
        }
        .tribe-event-multiple-days {
            display: block;
        }
    }
    .buttons {
        padding: 0 .75rem;
        border-top: 1px solid #ddd;
    }
    .button {
        width: 49%;
        margin-right: 1.1%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: .75rem;
        font-size: 1rem;
        border: 1px solid $lfy-green;
        background: transparent;
        color: $lfy-green;
        &.learn-more {
            color: $lfy-teal;
            border-color: $lfy-teal;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.tribe-events-list .tribe-events-loop .tribe-event-featured {
    background: transparent;
}
.tribe-events-loop .tribe-events-content {
    float: none;
}

#tribe-events-photo-events .tribe-events-photo-event {
    width: 50%;
    position: relative !important;
    left: auto !important;
    top: auto !important;
    padding-right: .9375rem;
    padding-left: .9375rem;
}

.venue-event-grid-item {
    margin-bottom: 2rem;
}

#tribe-events-photo-events .tribe-events-photo-event,
.venue-event-grid-item {
    &.wide-event {
        width: 100%;
        .photo-wrap {
            position: relative;
            &:after {
                bottom: 0;
                left: 0;
                content: '';
                position: absolute;
                width: 100%;
                height: 80%;
                background-image: linear-gradient(0, rgba(0, 0, 0, .5),rgba(0,0,0, 0));
            }
            @include breakpoint(small down) {
                .tribe-event-url {
                    display: block;
                    position: relative;
                    z-index: 100;
                }
            }
            .label {
                width: 30%;
                top: 20px;
                bottom: auto;
                left: -20px;
			    @include breakpoint(small down) {
                    width: 80%;
                    top: auto;
                    bottom: -45px;
                }
            }
            .text-wrap {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                color: $white;
                z-index: 2;
			    @include breakpoint(small down) {
                    position: relative;
                    color: $medium-gray;
                    background: #fff;
                    bottom: auto;
                    left: auto;
                }
                a {
                    color: $white;
                    @include breakpoint(small down) {
                        color: $dark-gray;
                    }
                }
                .tribe-events-list-event-title {
                    font-size: 1.7rem;
                    letter-spacing: .15rem;
                    @include breakpoint(small down) {
                        font-size: 1rem;
                        a {
                            color: $dark-gray !important;
                        }
                    }
                    a {
                        color: $white;
                    }
                }
                .tribe-events-list-photo-description p {
                    font-size: 1.1rem;
                    @include breakpoint(small down) {
                        font-size: .85rem;
                    }
                }
            }
        }
        .meta-group {
            width: 60%;
            float: left;
			@include breakpoint(small down) {
                float: none;
                width: 100%;
                @include clearfix;
			}
        }
        .buttons {
            width: 35%;
            float: left;
            padding: 0;
            border: 0;
			@include breakpoint(small down) {
                float: none;
                width: 100%;
                padding: 0 .75rem;
                border-top: 1px solid #ddd;
			}
            .button {
                margin-top: 0;
                margin-bottom: 0;
                @include breakpoint(small down) {
                    margin: 1rem 0;
                    width: 49%;
                    margin-right: 1.1%;
                }
            }
        }
        .tribe-events-event-meta {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    // live webinar is default banner
    &.tribe-events-category-teacher-certification .photo-wrap .label {
        background-image: url(../images/banner-teacher-certification.svg);
    }
    &.tribe-events-category-conferences .photo-wrap .label {
        background-image: url(../images/banner-conferences.svg);
    }
    &.tribe-events-category-one-day-ce-workshop .photo-wrap .label {
        background-image: url(../images/banner-certification-courses.svg);
    }
    &.tribe-events-category-live-online-course .photo-wrap .label {
        background-image: url(../images/banner-live-online-course.svg);
    }
    &.tribe-events-category-special-event .photo-wrap .label {
        background-image: url(../images/banner-special-event.svg);
    }

    // primary categories get banner- class so should be preferred label
    &.banner-teacher-certification .photo-wrap .label {
        background-image: url(../images/banner-teacher-certification.svg);
    }
    &.banner-conferences .photo-wrap .label {
        background-image: url(../images/banner-conferences.svg);
    }
    &.banner-one-day-ce-workshop .photo-wrap .label {
        background-image: url(../images/banner-certification-courses.svg);
    }
    &.banner-live-online-course .photo-wrap .label {
        background-image: url(../images/banner-live-online-course.svg);
    }
    &.banner-special-event .photo-wrap .label {
        background-image: url(../images/banner-special-event.svg);
    }

    .photo-wrap {
        position: relative;
        .label {
            position: absolute;
            bottom: -30px;
            left: -20px;
            display: block;
            width: 60%;
            height: 80px;
            background: url(../images/banner-live-webinar.svg) no-repeat;
            background-size: 100% auto;
            color: #FFF;
            text-transform: uppercase;
            padding: 18px 0 0 70px;
            letter-spacing: .2rem;
            font-size: .85rem;
            @include breakpoint(small down) {
                width: 80%;
                bottom: -45px;
            }
        }
        .online-course .banner-label {
            background: url(../images/banner-online-course.svg) no-repeat;
        }
    }
}


.single-tribe_events {
    #tribe-events-content h4 {
        margin: 1rem 0;
        a {
        color: $light-gray;
        }
    }
    h1 {
        color: $dark-gray;
    }
    .event-category-label {
        position: relative;
        .label {
            display: block;
            width: 35%;
            min-width: 420px;
            height: 80px;
            background: url(../images/banner-live-webinar.svg) no-repeat;
            background-size: 100% auto;
            color: #FFF;
            text-transform: uppercase;
            padding: 22px 0 0 90px;
            letter-spacing: .2rem;
            font-size: .85rem;
        }
        &.category-teacher-certification .label,
        &.category-level-one .label,
        &.category-level-two .label,
        &.category-level-three .label  {
            background-image: url(../images/banner-teacher-certification.svg);
        }
        &.category-the-school-yoga-project .label {
            background-image: url(../images/banner-the-school-yoga-project.svg);
        }
        &.category-certification-courses .label {
            background-image: url(../images/banner-certification-courses.svg);
        }
    }
    .date-cost {
        border-bottom: 1px solid #b9b9ba;
        margin-bottom: 1rem;
        padding-bottom: .5rem;
        h2 {
            font-family: Roboto,Arial,sans-serif;
            font-size: 1.2rem;

        }
    }
    .tribe-events-event-meta {
        margin: 0 0 2rem;
        background: #FFF !important;
        border: 0;
        font-size: 1rem;
        h2 {
            font-size: 1.4rem;
        }
        .column, 
        .tribe-events-meta-group {
            width: 100%;
            float: none;
        }
    }
    .register-event {
        font-size: 1.6rem;
        width: 100%;
        color: #FFF !important;
    }
}

.tribe-events-single ul.tribe-related-events {
    list-style-type: none;
    li {
        background: #FFF;
        border: 0;
    }
    li:before {
        content: '';
        display: none;
    }
}


.levels-event-list {
    .grid-item {
        margin-bottom: 1.5rem;
    }
    .grid-item .inner {
        background: $white;
        padding-bottom: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }
    .event-row {
        background: $white;
        border-bottom: 1px solid #b9b9ba;
        padding: .75rem 1rem;
        font-size: .9rem;
        div {
            overflow: hidden;
        }
        a {
            color: $lfy-teal;
        }
        .icon {
            fill: $lfy-teal;
            display: block;
            float: left;
            margin-right: 1rem;
        }
        label {
            text-transform: uppercase;
            font-weight: bold;
            color: $dark-gray;
        }
        &.where {
            text-transform: uppercase;
            font-weight: bold;
            .icon svg {
                fill: $lfy-orange;
            }
        }
        &.venue {
            min-height: 140px;
        }
        &.cost {
            min-height: 120px;
        }
        &.venue .icon svg {
            fill: $lfy-green;
        }
        &.when .icon svg {
            fill: $lfy-pink;
        }
        &.teacher .icon svg {
            fill: $lfy-orange;
        }
    }
    .button.outline {
        margin: 1rem;
        display: block;
        width: auto;
    }
}


@include breakpoint(small down) {
    #tribe-events-photo-events .type-tribe_events.tribe-events-photo-event, 
    #tribe-events-photo-events.photo-two-col .type-tribe_events.tribe-events-photo-event {
        max-width: 100%;
    }
}

.tribe-common .tribe-tickets__item, 
.entry .entry-content .tribe-common .tribe-tickets__item {
    grid-template-columns: 5.5fr 3fr 1fr;
}
.tribe-common .tribe-tickets__item__content__title.tribe-tickets--no-description, 
.entry .entry-content .tribe-common .tribe-tickets__item__content__title.tribe-tickets--no-description {
    align-self: center;
}
.tribe-common .tribe-common-h7.tribe-tickets__item__content__title,
.tribe-tickets__item__extra__price {
    font-size: 16px;
}
.tribe-common .tribe-tickets__item__extra .tribe-tickets__item__extra__price, 
.entry .entry-content .tribe-common .tribe-tickets__item .tribe-tickets__item__extra__price {
    text-overflow: initial;
    font-size: 16px;
}
.tribe-common .tribe-tickets__item__extra {
    padding: 0;
    align-self: center;    
    align-items: center;
    grid-row: 1/span 2;
    grid-template-columns: auto 0 0;
    grid-template-rows: auto;
}
.tribe-common .tribe-tickets__item__extra__price .tribe-formatted-currency-wrap, 
.entry .entry-content .tribe-common .tribe-tickets__item__extra__price .tribe-formatted-currency-wrap {
    font-weight: 400;
}
.tribe-common .tribe-tickets__item__quantity__number {
    height: 48px;
}

/* online training modal - covid */
#onlineTraining,
#userCommunity {
    padding: 2rem;
    color: $dark-gray;
}
@include breakpoint(small down) {
    #onlineTraining,
    #userCommunity {
        height: auto;
        min-height: 0;
        width: 90%;
        left: 5%;
        .close-button {
            left: -10px;
            top: -10px;
        }
    }
}

/* composite product bundle */
.single-product .populated.cart {
    padding: 0 0 1rem;
    display: none;
}
.single-product .component_title {
    font-family: Poppins,sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: $medium-gray;
    font-weight: normal;
    margin-bottom: 0;
}

.single-product .composite_form:not(.paged) .component .component_inner {
    padding-bottom: 1rem;
}

.single-product .composited_product_title_wrapper {
    display: none;
}
.composite_form .step_title_wrapper {
    margin-bottom: 0;
}

.component_option_radio_button_container .radio_button_description .title {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.component_option_radio_button input {
    margin: 0;
}

.tribe-checkout-backlink {
    margin-right: 1rem;
}


#tribe-events-content a {
	color: #67c6b6;
}
#tribe-events-content .grid-item a {
	color: $medium-gray;
}