%button {
  background: $lfy-green;
	color: $white;
	text-transform: uppercase;
	display: inline-block;
	padding: .75rem 2rem;
	border-radius: 4px;
	letter-spacing: .35rem;
	font-weight: 700;
	margin: 1.5rem 0;
}
