.enews {
	.form-wrapper {
		position: relative;
		margin-top: 1rem;
	}
	.icon {
		display: block;
		position: absolute;
		left: 8px;
		top: 6px;
		svg {
			fill: $lightest-gray;
			width: 30px;
			height: 30px;
		}
	}
}

.enews .yikes-mailchimp-container form {
    padding-left: 50px;
}

.yikes-mailchimp-container {
	position: relative;
	.edit-link {
		display: none;
	}
	form {
		margin-top: 0;
		border: 1px solid $lightest-gray;
		border-radius: 4px;
		padding: 2px;
		position: relative;
		max-width: 80%;
	}
	label.EMAIL-label {
		position: relative;
		width: 60%;
		float: left;
		border-left: 1px solid $lightest-gray;
	}
	span.EMAIL-label {
		display: none;
	}
	.yikes-easy-mc-form {
		input[type=email] {
			width: 100%;
			height: 36px;
			background: transparent;
			border: 0;
			margin:0;
			box-shadow: none;
		}
		.yikes-easy-mc-submit-button {
			@extend %button;
			display: inline-block;
			width: 40%;
			margin: 0 !important;
		}
	}
}

.page-template-template-contact .yikes-mailchimp-container .yikes-easy-mc-form .yikes-easy-mc-submit-button {
	padding: .75rem .25rem;
}

.page-template-template-contact .enews.medium-6 {
	border-left: 1px solid $lightest-gray;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
}